doctype html
html(lang="en")
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet" href="css/application.css")
	body
		block main
		script(src="js/all.js")
		block script
